html{
  scroll-behavior: smooth;
}
body,html{
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./User/upload/homepage.jpg");
    height: 60% !important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #2534ffef;
    color: white;
  }
  .cont-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./User/upload/home.jpg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
  }
  
  .formcontainer{
    border: 2px solid #fff;
    padding: 50% 60%;
    box-shadow: 10px 10px 1px 0px rgba(0,0,0,0.72);
-webkit-box-shadow: 10px 10px 1px 0px rgba(0,0,0,0.72);
-moz-box-shadow: 10px 10px 1px 0px rgba(0,0,0,0.72);
  }
  #myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #2534ffef;
    padding: 10px;
    border-radius: 10px;
}
#myBtn:hover{
    background: #606060;
}
.extra-div{
  background: #fff;
  border: medium none;
  /* padding: 5px !important; */
  border-radius: 3px;
  transition: 0.2s;
}
.extra-div h2{
  font-size: 1.1rem;
  /* margin: 20px 0 15px 0 ; */
  font-weight: bold;
  line-height: 1.1;
  /* word-spacing: 4px; */
}
.extra-div:hover{
  box-shadow: 0 0 20px 0 rgba(29, 28, 28, 0.4);
  transform: translateY(-15px);

}